{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form method="post">    

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                
                <div class="form-label-group">
                    <label for="inputUsername">Username:</label>
                    <input type="text" value="{{ last_username }}" name="_username"  placeholder="Username" required autofocus>
                </div>

                <div class="form-label-group">
                    <label for="inputPassword" >Password :</label>
                    <input type="password" name="_password" placeholder="Password" required>
                </div>
                
                <input class="text-center" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}                
                <button class="btn btn-primary text-center" type="submit">
                    Sign in
                </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
