{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Nuevo Producto</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">Regresar</a>
{% endblock %}
