{% extends 'base.html.twig' %}

{% block title %}New Sale{% endblock %}

{% block body %}
    <a href="{{ path('sale_index') }}" class="btn btn-info">Regresar</a>
    <br><br>
    <h1>Compra</h1>

    {{ include('sale/_form.html.twig') }}
{% endblock %}
